body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.adress {
  font-style: normal;
}

.text {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-title {
  font-weight: 700;
  font-size: 36px;

  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-decoration: none;
}

/* header  */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header .logo {
  margin-right: 76px;
}

.logo-part {
  color: #2e2f42;
}

.header .container {
  display: flex;
}

.header .container .link {
  display: block;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.adress {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.adress-list {
  display: flex;
  gap: 40px;
}

.nav-list .link.current {
  position: relative;
}

.nav-list .link.current::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  border-radius: 2px;

  background: #404bbf;
}

.nav .nav-list .link {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding: 24px 0;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.adress-list .link {
  font-weight: 400;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list .link:hover,
.list .link:focus,
.adress .list .link:hover,
.adress .list .link:focus,
.nav-list .link.current {
  color: #404bbf;
}

/* section Title */

.hero {
  max-height: 600px;
  max-width: 1440px;
  padding: 188px 0;

  display: flex;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/Background-image/people-office.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 56px;
  min-width: 496px;

  /* line-height: 60px; */
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.title-button {
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;

  display: block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  margin: 0 auto;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.title-button:hover,
.title-button:focus {
  background-color: #404bbf;
}

/* section Benefits */

.benefits {
  padding: 120px 0;
}

.benefits .container .list {
  display: flex;
  gap: 24px;
}

.benefits .container .list .list-item {
  flex-basis: calc((100% - 72px) / 4);
}

.benefits .container .list .list-item .subsection-title {
  margin-bottom: 8px;
}

.banefits-list-item-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #f4f4fd;

  border: 1px solid #8e8f99;
  border-radius: 4px;
  max-width: 264px;
  height: 112px;
  margin-bottom: 8px;
}

.subsection-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* section Our Team */

.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team .container .section-title {
  margin-bottom: 72px;
}

.our-team .container .list {
  display: flex;
  gap: 24px;
}

.our-team .list .list-item {
  flex-basis: calc((100% - 3 * 24px) / 4);

  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  padding: 0px 0px 32px 0px;
  width: 264px;
  height: 380px;

  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.our-team-list-list-item-persona-info {
  padding: 32px 0;
}

.our-team .list .subsection-title {
  font-weight: 500;
  font-size: 20px;

  /* line-height: 24px; */
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  margin-bottom: 8px;
}

.our-team .list .text {
  text-align: center;
  margin-bottom: 8px;
}

.our-team-social-media-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-media-list-item {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
}

.social-media-link {
}
/* section Our Portfolio */

.our-portfolio {
  padding: 120px 0;
}

.our-portfolio .container .section-title {
  margin-bottom: 72px;
}

.our-portfolio .container .list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.our-portfolio .container .list .list-item {
  flex-basis: calc((100% - 48px) / 3);

  min-width: 360px;
  min-height: 420px;
}

.our-portfolio .app-info {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.our-portfolio .app-info .subsection-title {
  margin-bottom: 8px;
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer .container .logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer .text,
.footer .logo-part {
  color: #f4f4fd;
}

.footer .container .text {
  max-width: 264px;
}
